body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header {
  background-color: #333333;
  height: 150px;
}

h1 {
  margin: 0;
  text-align: center;
  line-height: 150px;
  font-size: 60px;
  color: #ffffff;
}

main {
  min-height: 100vh;
  background-color: #3b3b3b;
}

.contents {
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
}

.search {
  width: 100%;
  height: 60px;
}

.search-text {
  height: 60px;
  width: 720px;
  border-radius:10px;
  border: 0;
  padding: 0;
}

.search span {
}

select {
  height: 60px;
  width: 280px;
}

.assets {
 margin-top: 20px;
 display: flex;
 flex-wrap: wrap;
}

.asset {
  width: calc((100% - 10rem) / 6);
  min-height: 250px;
  background-color: #444444;
  border-radius:15px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.asset-image {
  max-width: 100%;
  margin: 0 auto;
} */
